button{
    height: 100px;
    width: 100px;
    background-color: #ff3da3;
    color: #ffffff;
    font-size: 30px;
    border:1px solid #fa1b91;
}
button:last-child{
    background-color: #c01faf;
}
button:nth-last-child(3){
    width: 200px;
}
.buttons-container{
    height: 500px;
    width: 400px;
}
.button-long{
    width: 100px;
}
button:active{
    background:orange;
}